<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
    
<div class="top">   
    
    <a href="/"><img class="logo" src="/imgs/Logo_Murupi.png" alt="Logo Murupi Marmitas"></a>
    
    <div class="socialMedia">

     <figure>
        <a href="https://web.whatsapp.com/"target="_blank" rel="noopener noreferrer"><img class= "logoSocialMedia" src="/imgs/whatsapp.png" alt="Whatsapp"></a>
    </figure>
    <figure>
        <a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><img class= "logoSocialMedia" src="/imgs/instagramRedondo.png" alt="Instagram"></a>
      </figure>
      <figure>
        <a href="https://pt-br.facebook.com/"target="_blank" rel="noopener noreferrer"><img class= "logoSocialMedia" src="/imgs/facebookRedondo.png" alt="Facebook"></a>
      </figure>
    </div>
</div>    





<div class="barraMenu">
        <div class="anuncio">
            <h4>Alimentação Saudável no conforto da sua casa!</h4>
        </div>   

        <div class="menu">
        <menu>
            <a href="#cardapio"><li class="liMenu">Cardápio</li></a>
            <a href="#contato"><li class="liMenu">Contato  </li></a>
            <a href="login"><li class="liMenu">Login  </li></a>
     </menu>
    </div>
</div>

</html>