    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
        <title>Murupi Marmitas Saudáveis</title>
    </head>
    <body>
        <script src="/javascripts/script.js"></script>



<%- include('partials/header'); %>


  <div class="slider">
    
            <div class="slides">
    <input type="radio" name="radio-btn" id="radio1">
    <input type="radio" name="radio-btn" id="radio2">
    <input type="radio" name="radio-btn" id="radio3">
    <input type="radio" name="radio-btn" id="radio4">
    
    
    <div class="slide first">
        
        <div class="text1"><a href="http://www.murupimarmitas.com.br" target="_blank" rel="noopener noreferrer"><h1>Usamos igredientes frescos e selecionados</h1></a></div>
      
    </div>
    <div class="slide">
        <div class="text2"><a href="http://www.murupimarmitas.com.br" target="_blank" rel="noopener noreferrer"><h1>Todos os pratos produzidos com carinho e cuidado</h1></a></div>
    </div>
    
    <div class="slide">
        <div class="text3"><a href="http://www.murupimarmitas.com.br" target="_blank" rel="noopener noreferrer"><h1>Estamos sempre desenvolvendo novas receitas</h1></a></div>
    </div>
    <div class="slide">
            <div class="text4"><a href="http://www.murupimarmitas.com.br" target="_blank" rel="noopener noreferrer"><h1>Montamos cardápios sob medida para sua dieta</h1></a></div>
    </div>
    
    <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
    </div>
    
            </div>
    
    <div class="manual-navigation">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
    </div>
    
    
        </div>


  <div class="pratos" id="cardapio">
            <div class="titulo" "><h2>NOSSO PRATOS</h2></div>
    
            <div class="pratoItem">
                <img class="pratoIcon" src="/imgs/prato01.jpg" alt="Carne de Panela"/>
                <div class="pratoDesc">Carne de Panela com arroz e fritas</div>
                <div class="pratoPrice"> R$22,90</div>
            </div>
    
            <div class="pratoItem">
                <img class="pratoIcon" src="/imgs/prato02.jpg" alt="Macarrão a Bolonhesa"/>
                <div class="pratoDesc">Macarrão a Bolonhesa </div>
                <div class="pratoPrice"> R$19,90</div>
            </div>
    
            <div class="pratoItem">
                <img class="pratoIcon" src="/imgs/prato03.jpg" alt="Prato Feito com Feijão Preto"/>
                <div class="pratoDesc">Prato Feito a moda</div>
                <div class="pratoPrice"> R$19,90</div>
            </div>
    
            <div class="pratoItem">
                <img class="pratoIcon" src="/imgs/prato04.jpg" alt="Salmão com Legumes"/>
                <div class="pratoDesc">Salmão com Legumes</div>
                <div class="pratoPrice"> R$29,90</div>
            </div>
    
           <div class="pratoItem">
        <img class="pratoIcon" src="/imgs/prato05.jpg" alt="Picadinho Vegano"/>
        <div class="pratoDesc">Picadinho Vegano</div>
        <div class="pratoPrice"> R$19,90</div>
           </div>
    
          <div class="pratoItem">
        <img class="pratoIcon" src="/imgs/prato06.jpg" alt="Salada"/>
        <div class="pratoDesc">Salada Murupi</div>
        <div class="pratoPrice"> R$19,90</div>
          </div>
    
          <div class="pratoItem">
            <img class="pratoIcon" src="/imgs/monte.jpg" alt="Monte seu prato"/>
            <div class="pratoDesc">Monte seu prato</div>
            <div class="pratoPrice"> R$19,90</div>
              </div>
    
              <div class="pratoItem">
                <img class="pratoIcon" src="/imgs/monteSalada.jpg" alt="Monte sua Salada"/>
                <div class="pratoDesc">Monte sua Salada</div>
                <div class="pratoPrice"> R$19,90</div>
                  </div>
    
    
               
        </div>
       
        
      
        <div class="quebraLinha"></div>
    
        <div class="contato" id="contato">
            <div class="titulo"><h2>CONTATO</h2></div>
    
            <form class="form">
    
    <div class="formName">
                <label class="entryField" for="name">NOME</label>
                <input class="entry" placeholder="Digite seu nome..." type="text" name="" id="name" size="50" required>
            </div>
            <div class="formName">
                <label class="entryField" for="phone">TELEFONE</label>
                <input class="entry" placeholder="Digite seu telefone com DDD..."type="tel" name="" id="phone" size="45" required>
            </div>
    <div class="formName">
               <label class="entryField"  for="email">EMAIL </label>
                <input class="entry" placeholder="Digite seu E-mail..."type="email" name="" id="email" size="50"required>            
            </div>
            <div class="formName">
                <label class="msgBoxTitle" for="message">DIGITE SUA MENSAGEM</label>
    </div>
    <div class="formName">
    <textarea class="entry" placeholder="Explique em poucas palavras o seu caso e como posso lhe ajudar..."style="resize: none" name="" id="message" cols="60" rows="10"></textarea>
    </div>
    <div class="formName">
                <div class="div-entry">
                    <p class="entry-label"> COMO PREFERE NOSSO CONTATO</p>
                    <div class="formName">
                        
                    <label class="entry-label" for="email-choice"><input type="radio" name="contact-choice"
                            id="email-choice"> Email</label>
                    
                    <label class="entry-label" for="phone-choice"><input type="radio" name="contact-choice"
                            id="phone-choice"> Telefone</label>
    
                    <label class="entry-label" for="whatsapp-choice" lang="en"><input type="radio" name="contact-choice"
                            id="whatsapp-choice"> Whatsapp</label>
                </div>
            </div>
            </div>
                <label class="entry-label" for="day-period">Em qual horário prefere ser atendido? </label>
                <select class="entry" name="day-period" id="">
                    <option value="none">- Selecione aqui -</option>
                    <option value="morning">Manhã</option>
                    <option value="afternoon">Tarde</option>
                    <option value="evening">Noite</option>
                </select>
                <br><br>
    <div class="formName">
                <label for="check-mailing" class="entry-label" id="checkbox">Gostaria de receber nossas novidades por email?
                    <input type="checkbox" name="" id="check-mailing"><br><br></label>
                </div>
                <input class="entry" type="submit" value="Enviar Mensagem">
            </form>   
    
        </div>
    
        
        <%- include('partials/footer'); %>
    </body>
    </html>