<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
    <title>Página de Login</title>
  </head>
  <body>
    <%- include('partials/header'); %>


    <main>
 <div class="loginBox">
<div class="log">
      <form method="post" action="/usuarios/login" id="formLogin">
        <div class="titulo"><h2>Faça Login</h2></div>
        <label class="controles">
            <span class="fieldName">E-mail:</span>
            <input class="fieldName" type="email" name="email">
        </label>
        <label class="controles">
            <span class="fieldName">Senha:</span>
            <input class="fieldName" type="password" name="senha">
        </label>
        <div class="controles">
            <button type="submit">Entrar</button>
        </div>
    </form>
    
  </div>

  <div class="divisao"></div>

  <div class="log">
    <form method="post" action="/usuarios/add" id="formCadastrar">
        <div class="titulo"><h2>Cadastre-se</h2></div>
        <label class="controles">
            <span class="fieldName">E-mail:</span>
            <input class="fieldName" type="email" name="email">
        </label>
        <label class="controles">
            <span class="fieldName">Senha:</span>
            <input class="fieldName" type="password" name="senha">
        </label>
        <label class="controles">
            <span class="fieldName">Confirme Senha:</span>
            <input class="fieldName" type="password" name="confirmacao">
        </label>
        <label class="controles">
            <span class="fieldName">Endereço:</span>
            <input class="fieldName" type="text" name="endereco">
        </label>
        <div class="controles">
            <button type="submit">Cadastrar</button>
        </div>

    </form>
  </div>
  </div>
    </main>


    <%- include('partials/footer'); %>
  </body>
</html>
