body{
  margin: 0;
padding: 0;
height: 100vh;
width: 100vw;
background: linear-gradient(72deg, #F5F5DC  1%,   #3CB371	 99%);
}
.menu-principal {
  justify-content: space-between;
  display: flex;
  align-items: center;
padding: 16px 8px;
margin-bottom: 24px;
}
.logo{
  width: 100px;
  height: 100px;
}
.redes-sociais ul li{
list-style-type: none;
}
  .redes-sociais ul {
    display: flex;
    column-gap: 16px;
}
#menu-horizontal ul {
  list-style-type: none;
  padding: 0;
  background-color: #F5F5DC;
}
#menu-horizontal ul li{
  display: inline;
}
#menu-horizontal ul li a{
  color: #8B0000;
  text-decoration: none;
  padding: 20px;
  display: inline-block
}
#menu-horizontal ul li a:hover {
background-color:#98FB98;
}

.slider {
  width: 100%;
  max-width: 1200px;
  height: 350px;
  position: relative;
  overflow: hidden;
  margin: 0 auto 24px auto;

}

.slide {
  width: 100%;
  max-width: 1200px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}
footer {
  justify-content: space-between;
  display: flex;
  align-items: center;
padding: 16px 8px;
  background-color: #F5F5DC;

}
.fundo-laranja{

}
main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
          }
          .tela-login {
            background-color: rgb(250, 92, 19);
            padding: 50px;
            border-radius: 30px;
            width: 20%;
           
           
           
          }
          input {
            padding: 15px;
            border: none;
            outline: none;
            font-size: 15px;
          }
          button {
            background-color: #e22e2e;
            border: none;
            padding: 15px;
            width: 25%;
            border-radius: 10px;
            color: #fff;
          }
          button:hover{
            background-color: black;
            cursor: pointer;
          }
          footer {
            bottom: 0%;
            position: absolute;
            width: 100%;
            height: 100px;    
            text-align: center;
   
          }