* {
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-wrap: wrap;
    background: #FFFF;

}
a{
    text-decoration: none
}
h1{
    color: white;
    text-align: center;
    text-shadow: 4px 5px 5px black;
}
p{
    color: #FFFF;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    margin-bottom: 1px;

    /* From https://css.glass */
background: rgba(255, 255, 255, 0.87);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.6px);
-webkit-backdrop-filter: blur(14.6px);
}
.socialMedia{
    display: flex;
    align-items: center;
}
.logoSocialMedia{
    height: 5vh;
    margin-top: 20px;
    margin-right: 20px;
}
.barraMenu{
    display: flex;
    height: 50px;
    justify-content:space-between;
    align-items: center;
    flex-basis: 100%;
    color: #fff;

    /* From https://css.glass */
background: rgba(112, 173, 92, 1);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.6px);
-webkit-backdrop-filter: blur(14.6px);
}
.anuncio{
    margin-left: 50px;
}
.logo{
        height: 12vh;
        margin-top: 1vh;;
        margin-left: 10vh;
        margin-bottom: 1vh;
}
.menu{
    margin-right: 10px;
    color: #FFFF;
    margin-right: 50px;
}
.liMenu{
    list-style: none;
    display: inline;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}
/*Carrossel INICIO*/

.slider{
    flex-basis: 100%;
    width: 100vw;
    height: 600px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 600px;
    display: flex;
    
} 
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 100vw;
    justify-self: center;
    
}
.text1{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(/imgs/food01.jpg);
    background-size: cover;
}
.text2{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(/imgs/food02.jpg);
    background-size: cover;
}
.text3{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(/imgs/food03.jpg);
    background-size: cover;
}
.text4{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(/imgs/food04.jpg);
    background-size: cover;
}
.manual-navigation{
    position: absolute;
    width: 50vw;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    margin-left: 25vw;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #fff;
}
#radio1:checked ~ .first{
margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -25%;
    }
#radio3:checked ~ .first{
   margin-left: -50%;
    }  
#radio4:checked ~ .first{
   margin-left: -75%;
    }  
.navigation-auto div{
    display: none;
    border: 2px solid #ffa620;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}
.navigation-auto{
    position: absolute;
    width: 95vw;
    margin-top: 170px;
    display: flex;
    justify-content: center;

}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~.navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~.navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~.navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~.navigation-auto .auto-btn4{
    background-color: #fff;
}
.texto{
    margin-left: 5vh;
    margin-right: 5vh;
    height: 100%;
    width: 60%;
}
/* Carrossel FIM */
.titulo{
    flex-basis: 100%;
    color:#FFFF;
    text-align: center;
    text-shadow: 4px 5px 5px black;
    
}
.pratos{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    height: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-basis: 100%;

/* From https://css.glass */
background: rgba(244, 182, 75, 0.9);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.9px);
-webkit-backdrop-filter: blur(9.9px);
}
.pratoItem{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        height: 250px;
        width: 280px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0px;
        color: #001528;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.87);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.6px);
-webkit-backdrop-filter: blur(14.6px);
  
        
}
.pratoIcon{
    width: 100%;
    height: 160px;
    flex-basis: 100%;
    margin-bottom: 10px;
}
.pratoDesc{
    margin-bottom: 10px;
}
.pratoPrice{
    margin-bottom: 10px;
    color: #cc4e51;
}

.quebraLinha{
    flex-basis: 100%;

}

.contato{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
background-image: url(/imgs/form05.jpg);
    background-size: cover;

}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 450px;
    color: #001528;
    margin-top: 20px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
/* From https://css.glass */
background: rgba(112, 173, 92, 1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.6px);
-webkit-backdrop-filter: blur(14.6px);
}
.formName{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-basis: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

}
.entryField{
    margin-right: 20px;
}
.entry{
   border-radius: 5px;
   border:none;
   padding: 5px;
}
.entry-label{
    margin-left: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 100%;
    height: 40px;
    align-items: center;
    color: #FFFF;
    /* From https://css.glass */
background: rgba(204, 78, 81, 0.96);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.5px);
-webkit-backdrop-filter: blur(9.5px);
}